@import "../reset.scss";
@import "../variable.scss";

// login

body{
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 60%;
        form{
            margin-top: 100px;
            padding: 20px;
            border: 2px $top-bar-purple solid;
            border-radius: 10px;
            background-color: white;
            .form-group{
                margin-bottom: 5px;
                label{
                    margin-top: 5px;
                }
                input{
                    margin-top: 5px;
                }
                small{
                    margin-top: 5px;
                }
            }
            button{
                margin-top: 5px;
            }
        }
    }
}
