@import "../reset.scss";


body {
  overflow-x: hidden;
  overflow-y: hidden;

  height: 150px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    p {
      padding: 10px;
      font-size: 60px;
      color: gray;
      &:hover{
          color: black;
          cursor: pointer;
      }
    }
  }
}
