@import "../../../../reset.scss";
@import "../../../../variable.scss";

// ethan

body{
    .title-pic{
        overflow: hidden;
        width: 100%;
        height: 300px;
        border: 2px gray solid;

        img{
            margin-top: -180px;
        }
        
    }
    .shop-pic{
        display: flex;
        align-items: center;
        position: absolute;
        top: 180px;
        left : 0px; //左邊上面都設0，則出現在左上方
        img{
            margin: 20px;
            border-radius: 50%;
            width: 200px;
            // box-shadow:inset offset-x offset-y blur-radius spread-radius 陰影顏色;
            box-shadow:2px 2px 5px 5px $top-bar-purple;
        }
        p{
            font-size: 80px;
            background-color: $top-bar-purple;
            padding: 10px;
            
            box-shadow:2px 2px 5px 5px $top-bar-purple;

        }
    }
}